= render template: 'boardlist'
#infoblock
  %b Регистрация
  &mdash; процедура простая, но очень полезная. 
  %br
  Зарегистрировавшись, вы получите доступ к новым 
  функциям (например, к «избранным» тредам),
  а чуть позже, возможно, и пропуск на закрытые доски. 
  %br
  %br
  Всё, что нам от вас нужно &mdash; сверхсекретный пароль.
  %br
  Он же послужит и логином. Поэтому постарайтесь придумать такой пароль, который сложно было бы угадать, ведь если кто-то при регистрации укажет уже существующий пароль, то этот аккаунт заблокируется.
  =form_for(User.new, html: {id: 'register_form', method: 'post'}, url: url_for(controller: 'auth', action: 'register')) do |f|
    .errors
    %label{for: 'password'}
      Сложный пароль, который я запомню и без повторного набора:
    = f.password_field(:password, id: 'password')
    = f.submit('Я молодец!')
