%a.goback{href: url_for(controller: 'boards', action: 'index', alias: @board[:alias])} ← назад
= render partial: 'threads/thread', object: 		@thread
= render partial: 'posts/post',			collection: Post.where(thread_id: @thread._id)

= render template: 'reply_form'
