!!! XHTML
%html
	%head
		%title rakaba
		%link{rel: 'stylesheet', type: 'text/css', href: '/css/photon.css'}
		%script{type: 'text/javascript', src: '/js/jquery/init.js'}
		%script{type: 'text/javascript', src: '/js/jquery/form.js'}
		%script{type: 'text/javascript', src: '/js/jquery/hotkeys.js'}
		%script{type: 'text/javascript', src: '/js/jquery/scrollto.js'}
		%script{type: 'text/javascript', src: '/js/jquery/selection.js'}
		%script{type: 'text/javascript', src: '/js/jquery/caret.js'}
		%script{type: 'text/javascript', src: '/js/jquery/tooltip.js'}
		%script{type: 'text/javascript', src: '/js/nowai.js'}
	%body
		#container
			#navigation= render template: 'navigation'
			#content= yield
			#footer
				Copyright Nowai team 2007 &mdash; 2011
				%br
				Rakaba #{VERSION}